<nav class="navbar">
    <div class="nav-container">
        <ul class="nav-items">
            <li class="nav-item active" data-target="experiences"><i class="fas fa-briefcase"></i>Experience</li>
            <li class="nav-item" data-target="formation"><i class="fas fa-graduation-cap"></i>Education</li>
            <li class="nav-item" data-target="projets"><i class="fas fa-project-diagram"></i>Projects</li>
            <li class="nav-item" data-target="competences"><i class="fas fa-tools"></i>Skills</li>
        </ul>
    </div>
</nav>